@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #1b1b1f;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

thead {
    background-color: rgb(55, 75, 75);
}

.container {
    width: 50%;
}

table {
    text-align: center;
    font-size: 18px;
    width: 100%;
    color: white;
}

tbody>tr {
    background-color: #393a46;
}

button {
    color: white;
    background-color: #1a1c30;
    border: none;
    margin: 5px;
    padding: 5px 20px;
    border-radius: 0.2em;
    cursor:pointer;
}

.red {
    background-color: #af2a25;
}

.green {
    background-color: #47bb94;
}

.yellow {
    background-color: #28cee4;
}